#input-form {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 80%;
}

#submit-button {
    margin: auto;
    margin-bottom: 0;
    width: fit-content;
    padding: 10px 15px 10px 15px;
    background: #BA1949;;
    color: white;
    border: none;
    border-radius: 5px;
}

label {
    margin-bottom: 5px;
    font-weight: 500;
}

input {
    margin-bottom: 30px;
    border: none;
    background: #EFEDED;
    border-radius: 5px;
}

h1 {
    margin: 30px;
    text-align: center;
    color: #BA1949;
    font-size: calc(1.375rem + 1vw);
}

.card {
    margin: auto;
    width: 85%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    background-color: #EFEDED;
}

.required {
    color: #BA1949;
}