{% extends 'forms.html' %}

{% block form_title %}<h1>Event Signup</h1>{% endblock %}
    
{% block form_content %}
    <label for="netId">UCI Net Id:</label>
    <input type="text" id="netId" name="netId"><br>

    <label for="eventName">Event Name:</label>
    <div id="event-display-options">
        {% if avail_events %}
            {% for event in avail_events %}         
                <input type="checkbox" id="eventName" name="eventName" value="{{ event }}">
                <label for="eventName">{{ event }}</label><br>
            {% endfor %}
        {% else %}
            <p>No Events Yet!</p>
        {% endif %}
    </div>
    <input id="submit-button" type="submit" value="Register">
{% endblock %}