{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <title>{{ page_title }}</title>
{% endblock %}

{% block body %}
    <!--take the text input from each input field and build a query from it-->
    {% block form_title %}{% endblock %}

    <div class="card">
        <!--eventually i want to pass in the correct function to call-->
        <form id="input-form" action="{{ url_for( submit ) }}" method="POST">
            {% block form_content %}
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="fname">

                <label for="lname">Last name:</label>
                <input type="text" id="lname" name="lname">

                <label for="netId">UCI Net Id:</label>
                <input type="text" id="netId" name="netId">

                <label for="email">Email:</label>
                <input type="text" id="email" name="email">

                <input id="submit-button" type="submit" value="Register">
            {% endblock %}
        </form>
    </div>
{% endblock %}